# Loops in python

* A loop is used to repeat a block of code multiple times
* Python has 2 main types of loops:
  1. for loop
  2. while loop

## while loop

* Used when you don’t know how many times — runs as long as condition is true.

```python
# syntax :        
while condition:
    # code block
```

In [1]:
# print 1 to 10
i = 1
while i <= 10:
  print(i)
  i += 1
# remember to increment i, or else the loop will continue forever.

1
2
3
4
5
6
7
8
9
10

## break Statement

 * With the break statement we can stop the loop even if the   while condition is true

In [2]:
# Exit the loop when i is 6
i = 1
while i < 11:
  print(i)
  if i == 6:
    break
  i += 1

1
2
3
4
5
6

## continue Statement

With the continue statement we can stop the current iteration, and continue with the next

In [3]:
# Continue to the next iteration if i is 3:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [4]:
# display 100, 97, 94, 91 .....up to all terms which are positive
first = 100
while first>0 :
    print(first,end=' ')
    first -= 3

100 97 94 91 88 85 82 79 76 73 70 67 64 61 58 55 52 49 46 43 40 37 34 31 28 25 22 19 16 13 10 7 4 1

In [8]:
# print the table whichever user wants
n = int(input("enter table number :"))
i =1 
while i<11 :
    print(n,"*",i,"=",n*i)
    i = i + 1;

enter table number : 17

17 * 1 = 17
17 * 2 = 34
17 * 3 = 51
17 * 4 = 68
17 * 5 = 85
17 * 6 = 102
17 * 7 = 119
17 * 8 = 136
17 * 9 = 153
17 * 10 = 170

## for loop

* Used when you know how many times you want to repeat.

```python
# Syntax:
for variable in range(start, stop, step):
    # code block with indented

# Default: start = 0, step = 1
```

In [9]:
# Print numbers from 1 to 5
for i in range(1,6) :
    print(i)

1
2
3
4
5

In [10]:
# print number from 5 to 1
for i in range(5,0,-1) :
    print(i)

5
4
3
2
1

In [11]:
# Print even numbers from 2 to 10
for i in range(2,11,2) :
    print(i)

2
4
6
8
10

In [12]:
# Loop through a string
for ch in "Hello" :
    print(ch)

H
e
l
l
o

In [13]:
# print N natural number 
a = int(input("enter the last number :"))
for i in range(1,a+1) :
    print(i,end=" ")

enter the last number : 8

1 2 3 4 5 6 7 8

In [14]:
# display this G.P - 1,2,4,8,32 ..... up to 'n'
# common ratio = 2
n = int(input("enter the number of terms :"))
first = 1
for i in range(1,n+1) :
    print(first,end=' ')
    first = first * 2

enter the number of terms : 9

1 2 4 8 16 32 64 128 256

## Questions

In [1]:
# Factorial of a Number
a = int(input("enter the number :"))
fact = 1
for i in range(1,a+1,1) :
    fact = fact * i
print("factorial of",a,"is :",fact)

enter the number : 5

factorial of 5 is : 120

In [16]:
# print the factorial of first 'n' number
a = int(input("enter the number :"))
fact = 1
for i in range(1,a+1) :
    fact = fact * i
    print("factorial of",i,"is :",fact)

enter the number : 7

factorial of 1 is : 1
factorial of 2 is : 2
factorial of 3 is : 6
factorial of 4 is : 24
factorial of 5 is : 120
factorial of 6 is : 720
factorial of 7 is : 5040

In [2]:
# Count Digits in a Number
a = int(input("enter the number :"))
count = 0
while a>0 :
    count += 1
    a = a//10
print("number of digits :",count)

enter the number : 1234

number of digits : 4

In [18]:
# Sum of Digits of a Number
a = int(input("enter the number :"))
sum = 0
while a>0 :
    rem = a % 10
    sum = sum + rem
    a = a//10
print("sum of digits of",a,"is :",sum)

enter the number : 1234

sum of digits of 0 is : 10

In [19]:
# Sum of even Digits of a Number
a = int(input("enter the number :"))
sum = 0
while a>0 :
    rem = a % 10
    if rem%2==0 :
        sum = sum + rem
    a = a//10
print("sum of even digits of is :",sum)

enter the number : 123456

sum of even digits of is : 12

In [20]:
# reverse the number 
a = int(input("enter the number :"))
rev_number = 0
while a>0 :
    rem = a % 10
    rev_number = rev_number*10 + rem
    a = a // 10
print(rev_number)

enter the number : 1234

4321

In [21]:
# Check Palindrome Number
a = int(input("enter the number :"))
temp = a # we had to add temp because the end loop a become single number 
rev_number = 0
while a>0 :
    rem = a % 10
    rev_number = rev_number*10 + rem
    a = a // 10
if temp == rev_number :
    print("given number is palindrome")
else :
    print("given number is not palindrome")

enter the number : 1234321

given number is palindrome

In [22]:
# Find first number divisible by 7 in range 50 to 100
for i in range(50,101) :
    if i % 7 == 0 :
        print(i,"is the first number divisible by 7 in range 50 to 100")
        break

56 is the first number divisible by 7 in range 50 to 100

In [23]:
# Find first three number divisible by 7 in range 50 to 100
count = 0
for i in range(50,101) :
    if i % 7 == 0 :
        print(i,"is  divisible by 7 in range 50 to 100")
        count += 1
        if count == 3:
            break

56 is  divisible by 7 in range 50 to 100
63 is  divisible by 7 in range 50 to 100
70 is  divisible by 7 in range 50 to 100

In [24]:
# Fibonacci Series
n = int(input("Enter how many terms: "))
a = 0 
b = 1
if n == 1 :
     print(a)
elif n == 2 :
    print(a,b)
else :
     for i in range(n) :
         c = a
         print(c,end=' ')
         a = b
         b = a + c

Enter how many terms:  7

0 1 1 2 3 5 8

In [25]:
# Armstrong Number
a = int(input("enter the number :"))
temp1= temp2 = a
sum = 0
count = 0
while a>0 :
    count += 1
    a = a//10
while temp1>0:
    rem = temp1 % 10
    sum = sum + rem**count
    temp1 = temp1 // 10
if sum == temp2 :
    print("given number is armstrong number ")
else :
    print("given number is not armstrong number ")

enter the number : 123

given number is not armstrong number

In [26]:
# prime number 
a = int(input("enter the number :"))
count = 0
for i in range(1,a+1) :
    if a%i==0 :
        count += 1
if count == 2 :
 print("given number is prime number")
else :
 print("given number is not prime number")

enter the number : 123

given number is not prime number

# Nested Loops in Python

* A nested loop means a loop inside another loop. It can be:
  1. for loop inside for
  2. while loop inside while
  3. for loop inside while (or vice versa)

```python
# syntax
for outer in range(X):
    for inner in range(Y):
        # Code block
```

```python
# syntax
while condition1:
    while condition2:
        # Code block
```

In [27]:
# Multiplication Tables (1 to 10)
for i in range(1,11) :
    for j in range(1,11) :
        print(i,"*",j,"=",i*j)
    print()

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [28]:
# print solid rectangle
# * * * *
# * * * *  
# * * * *
m = int(input("enter the number of rows :")) # m = number of rows
n = int(input("enter the number of column :")) # n = number of column 
for i in range(1,m+1) : # outer loop ---> number of lines
    for j in range(1,n+1) :  # inner loop ---> number of star in each line
        print("*",end=' ')
    print()

enter the number of rows : 5
enter the number of column : 5

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [29]:
# square number
# 1 2 3 4
# 1 2 3 4   ------> means if n = 4 , print this pattern 
# 1 2 3 4
# 1 2 3 4
m = int(input("enter the number of rows :")) 
for i in range(1,m+1) :
    for j in range(1,m+1) :
        print(j,end=' ')
    print()

enter the number of rows : 5

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [3]:
# star triangle 
# *
# * *
# * * *
# * * * *
m = int(input("enter the number of rows :"))
for i in range(1,m+1) : 
    for j in range(1,i+1) :  
        print("*",end=' ')
    print()

enter the number of rows : 7

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [31]:
# print this pattern
# * * * *
# * * *
# * *
# *
m = int(input("enter the number of rows :"))
for i in range(1,m+1) :
    for j in range(1,((m+1)-i)+1) : # relation ---> i + j = m + 1
        print("*",end=" ")
    print()

enter the number of rows : 5

* * * * *
* * * *
* * *
* *
*

In [32]:
# print this pattern
# * * * *
# * * *
# * *
# *
m = int(input("enter the number of rows :"))
a = m
for i in range(1,m+1) :
    for j in range(1,a+1) :  # using extra variable 
        print("*",end=" ")
    a = a - 1
    print()

enter the number of rows : 5

* * * * *
* * * *
* * *
* *
*

In [33]:
# print this pattern 
# 1 
# 1 2 
# 1 2 3 
# 1 2 3 4
m = int(input("enter the number of rows :"))
for i in range(1,m+1) : 
    for j in range(1,i+1) :  
        print(j,end=' ')
    print()

enter the number of rows : 5

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
# home work question 
# 1 2 3 4
# 1 2 3
# 1 2 
# 1

In [34]:
# print this pattern 
# 1 
# 1 3
# 1 3 5
# 1 3 5 7
m = int(input("enter the number of rows :"))
for i in range(1,m+1) :         # 1 3 5 7 9 .......
    for j in range(1,i+1) :     #  d = 2
        print(2*j-1,end=' ')    #  an = a + d(n-1)
    print()

enter the number of rows : 5

1
1 3
1 3 5
1 3 5 7
1 3 5 7 9

In [35]:
# print this pattern using extra variable
# 1 
# 1 3
# 1 3 5
# 1 3 5 7
m = int(input("enter the number of rows :"))
for i in range(1,m+1) : 
    a = 1
    for j in range(1,i+1) :     
        print(a,end=' ')
        a = a + 2
    print()

enter the number of rows : 5

1
1 3
1 3 5
1 3 5 7
1 3 5 7 9

In [36]:
# print this pattern 
# A B C D
# A B C D
# A B C D
# A B C D 
m = int(input("enter the number of rows :")) 
for i in range(1,m+1) :
    a = 1
    for j in range(1,m+1) :
        d = 64 + a
        ch = chr(d)          # we use chr() function for getting the character from an ASCII value
        print(ch,end=' ')    # ord() function used to get an ASCII value of a character
        a = a + 1
    print()

enter the number of rows : 5

A B C D E
A B C D E
A B C D E
A B C D E
A B C D E

In [37]:
# print this pattern 
# A B C D
# A B C D
# A B C D
# A B C D 
m = int(input("enter the number of rows :")) 
for i in range(1,m+1) :
    for j in range(1,m+1) :
        print(chr(64+j),end=' ')     
    print()

enter the number of rows : 5

A B C D E
A B C D E
A B C D E
A B C D E
A B C D E

In [ ]:
# home work question
# A 
# A B 
# A B C 
# A B C D

In [ ]:
# home work question
# 1
# A B
# 1 2 3
# A B C D
# 1 2 3 4 5

In [4]:
# print this pattern 
#       *
#       *
#   * * * * *
#       *
#       *
m = int(input("enter the only odd number of rows :")) 
for i in range(1,m+1) :
    for j in range(1,m+1) :
        if j== (m+1)/2 or i == (m+1)/2 :
            print("*",end=' ')
        else :
            print(" ",end=' ')
    print()

enter the only odd number of rows : 7

      *
      *
      *
* * * * * * *
      *
      *
      *

In [5]:
# print this pattern
#   * * * * * * * *
#   *             *
#   *             *
#   * * * * * * * *
m = int(input("enter the number of rows :")) 
n = int(input("enter the number of column :")) 
for i in range(1,m+1) :
    for j in range(1,n+1) :
        if (i==1 or i==m) and (j>=1 and j<=n) :
            print("*",end=' ')
        elif (j==1 or j==n) and (i>1 and i<m) :
            print("*",end=' ')
        else :
            print(" ",end=" ")
    print()

enter the number of rows : 5
enter the number of column : 7

* * * * * * *
*           *
*           *
*           *
* * * * * * *

In [40]:
# print this pattern 
#  *   *
#   * *
#    *
#   * *
#  *   *
m = int(input("enter the only odd number of rows :")) 
for i in range(1,m+1) :
    for j in range(1,m+1) :
        if (i==j or i+j==m+1) :
            print("*",end=' ')
        else :
            print(" ",end=' ')
    print()

enter the only odd number of rows : 5

*       *
  *   *
    *
  *   *
*       *

In [41]:
# print this pattern
# 1
# 2 3 
# 4 5 6 
# 7 8 9 10
m =  int(input("enter the number of rows :"))
a = 1
for i in range(1,m+1) :
    for j in range(1,i+1) :
        print(a,end=' ')
        a = a + 1
    print()

enter the number of rows : 6

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
16 17 18 19 20 21

In [42]:
# print this pattern
# 1
# 0 1 
# 1 0 1
# 0 1 0 1
m =  int(input("enter the number of rows :"))
for i in range(1,m+1) :
    if i%2==0 :
        a = 0
    else :
        a = 1
    for j in range(1,i+1) :
        print(a,end=' ')
        if a == 1 :
           a = 0
        else :
           a = 1
    print()

enter the number of rows : 5

1
0 1
1 0 1
0 1 0 1
1 0 1 0 1

In [43]:
# print this pattern 
#       *
#     * *
#   * * *
# * * * *
m =  int(input("enter the number of rows :"))
for i in range(1,m+1) :
    for j in range(1,m-i+1) :
        print(" ",end=' ')
    for k in range(1,i+1) :
        print("*",end=' ')
    print()

enter the number of rows : 6

          *
        * *
      * * *
    * * * *
  * * * * *
* * * * * *

In [ ]:
# home work
#       A
#     A B
#   A B C
# A B C D

In [44]:
# print this pattern
#        *
#      * * *
#    * * * * *
#  * * * * * * *
m =  int(input("enter the number of rows :"))
for i in range(1,m+1) :
    for j in range(1,m-i+1) :
        print(" ",end=' ')
    for k in range(1,(2*i - 1)+1) :
        print("*",end=' ')
    print()

enter the number of rows : 5

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [45]:
m =  int(input("enter the number of rows :"))
nst = 1
nsp = m - 1
for i in range(1,m+1) :
    for j in range(1,nsp+1) : # nsp ----> number of spaces
        print(" ",end=' ')
    nsp = nsp - 1
    for k in range(1,nst+1) :   # nst ----> number of stars
        print("*",end=' ')
    nst = nst + 2
    print()

enter the number of rows : 6

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *
* * * * * * * * * * *

In [ ]:
# home work
#       1
#     1 2 3 
#   1 2 3 4 5
# 1 2 3 4 5 6 7

#     A
#   A B C
# A B C D E

In [46]:
# print this pattern
#       1
#     1 2 1 
#   1 2 3 2 1 
# 1 2 3 4 3 2 1
m =  int(input("enter the number of rows :"))
for i in range(1,m+1) :
    for j in range(1,m-i+1) :
        print(" ",end=' ')
    for k in range(1,i+1) :
        print(k,end=' ')
    a = i - 1
    for p in range(1,(i-1)+1) :
        print(a,end=' ')
        a = a - 1
    print()

enter the number of rows : 6

          1
        1 2 1
      1 2 3 2 1
    1 2 3 4 3 2 1
  1 2 3 4 5 4 3 2 1
1 2 3 4 5 6 5 4 3 2 1

In [ ]:
# home work
#       A
#     A B A
#   A B C B A
# A B C D C B A

In [10]:
# print this pattern
#     *
#    ***
#   *****
#  *******    for n = 7  try your self if n = 4 (tips :upper half or lower half)
#   *****
#    ***
#     *
m =  int(input("enter only the number of rows :"))
nsp = ((m+1)//2) - 1
nst = 1 
ml = (m+1)//2
for i in range(1,m+1) :
    for j in range(1,nsp+1) :
        print(" ",end=' ')
    for k in range(1,nst+1) :
        print("*", end=' ')
    if(i<ml) :
        nsp -= 1
        nst += 2
    else :
        nsp += 1
        nst -= 2
    print()

enter only the number of rows : 7

      *
    * * *
  * * * * *
* * * * * * *
  * * * * *
    * * *
      *

In [49]:
# print this pattern
#   * * * * * * 
#     * * * * * 
#       * * * * 
#         * * * 
#           * * 
#             * 
m = int(input("enter the number of line :"))
nst = m
nsp = 0
for i in range(1,m+1) :
    for k in range(1,nsp+1) :
        print(" ",end=' ')
    for j in range(1,nst+1) :
        print("*",end=' ')
    nst -= 1
    nsp += 1
    print()

enter the number of line : 5

* * * * *
  * * * *
    * * *
      * *
        *

In [59]:
# print this pattern
# * * * * * * * * * * * 
# * * * * *   * * * * * 
# * * * *       * * * * 
# * * *           * * * 
# * *               * * 
# *                   * 
m = int(input("enter the number of lines : "))
for i in range(1,(2*m-1)+1) :
    print("*",end=' ')
print()
nst = m - 1
nsp = 1
for i in range(1,(m-1)+1) :
    for j in range(1,nst+1) :
        print("*",end=' ')
    for k in range(1,nsp+1) :
        print(" ",end=' ')
    for p in range(1,nst+1) :
        print("*",end=' ')
    nst = nst - 1
    nsp = nsp + 2
    print()

enter the number of lines :  5

* * * * * * * * *
* * * *   * * * *
* * *       * * *
* *           * *
*               *

In [99]:
# print this pattern
# 1 2 3 4 5 6 7 8 9 
# 1 2 3 4   6 7 8 9 
# 1 2 3       7 8 9 
# 1 2           8 9 
# 1               9 
m = int(input("enter the number of lines :"))
for i in range(1,(2*m-1)+1) :
       print(i,end=' ')
print()
nst = m - 1
nsp = 1
for i in range(1,(m-1)+1) :
    a =1 
    for j in range(1,nst+1) :
        print(a,end=' ')
        a = a + 1
    for k in range(1,nsp+1) :
        print(" ",end=' ')
        a = a + 1
    for p in range(1,nst+1) :
        print(a,end=' ')
        a = a + 1
    nst = nst - 1
    nsp = nsp + 2
    print()

enter the number of lines : 5

1 2 3 4 5 6 7 8 9
1 2 3 4   6 7 8 9
1 2 3       7 8 9
1 2           8 9
1               9

In [1]:
# print this pattern
#     1 2 3 4 5 4 3 2 1 
#     1 2 3 4   4 3 2 1 
#     1 2 3       3 2 1 
#     1 2           2 1 
#     1               1 
m = int(input("enter the number of lines :"))
p = m
for i in range(1,(2*m-1)+1) :
    if(i>=1 and i<=(1+(2*m-1)//2)) :
       print(i,end=' ')
    else :
       print(p - 1,end=' ')
       p = p -1
print()
nst = m - 1
nsp = 1
for i in range(1,(m-1)+1) :
    a =1 
    for j in range(1,nst+1) :
        print(a,end=' ')
        a +=1
    for k in range(1,nsp+1) :
        print(" ",end=' ')
    a = a - 1
    for p in range(1,nst+1) :
        print(a,end=' ')
        a -= 1
    nst = nst - 1
    nsp = nsp + 2
    print()

enter the number of lines : 4

1 2 3 4 3 2 1
1 2 3   3 2 1
1 2       2 1
1           1

In [110]:
# print this pattern
# 1 1 1 1 1 
# 1 2 2 2 2 
# 1 2 3 3 3 
# 1 2 3 4 4 
# 1 2 3 4 5 
m = int(input("enter the number of lines :"))
for i in range(1,m+1) :
    for j in range (1,m+1) :
        print(min(i,j),end=' ')
    print()

enter the number of lines : 5

1 1 1 1 1
1 2 2 2 2
1 2 3 3 3
1 2 3 4 4
1 2 3 4 5

In [6]:
# print this pattern
#   1 1 1 1 1 
#   1 2 2 2 1 
#   1 2 3 2 1 
#   1 2 2 2 1 
#   1 1 1 1 1
m = int(input("enter the number :"))
for i in range(1,(2*m-1)+1) :
    for j in range (1,(2*m-1)+1) :
        a = i
        if (i>m) :
            a = (2*m-1) - i + 1
        b = j
        if (j>m) :
            b = (2*m-1) - j + 1
        print(min(a,b),end=' ')
    print()

enter the number : 5

1 1 1 1 1 1 1 1 1
1 2 2 2 2 2 2 2 1
1 2 3 3 3 3 3 2 1
1 2 3 4 4 4 3 2 1
1 2 3 4 5 4 3 2 1
1 2 3 4 4 4 3 2 1
1 2 3 3 3 3 3 2 1
1 2 2 2 2 2 2 2 1
1 1 1 1 1 1 1 1 1

In [122]:
# print this pattern
# 4 4 4 4 4 4 4 
# 4 3 3 3 3 3 4 
# 4 3 2 2 2 3 4 
# 4 3 2 1 2 3 4 
# 4 3 2 2 2 3 4 
# 4 3 3 3 3 3 4 
# 4 4 4 4 4 4 4
m = int(input("enter the number :"))
for i in range(1,(2*m-1)+1) :
    for j in range (1,(2*m-1)+1) :
        a = i
        if (i>m) :
            a = (2*m-1) - i + 1
        b = j
        if (j>m) :
            b = (2*m-1) - j + 1
        max1 = (m+1) - min(a,b)
        print(max1,end=' ')
    print()

enter the number : 4

4 4 4 4 4 4 4
4 3 3 3 3 3 4
4 3 2 2 2 3 4
4 3 2 1 2 3 4
4 3 2 2 2 3 4
4 3 3 3 3 3 4
4 4 4 4 4 4 4

In [123]:
# home work
#        1
#      1  3
#    1     4
#  1 2 3 4 5 6