# Tuple

* Tuples are used to store multiple items in a single variable.
* Tuples are written with round brackets.

* Tuple items are ordered and allow duplicate values.
* Tuple items are indexed.
* Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created
* Tuple items can be of any data type and contain different data types.

In [1]:
# empty tuple
tup1 = ()
# homogeneous tuple
tup2 = ('m','a','y','n','k')
tup3 = (1,2,3,4,5,6,7)
# hetrogeneous tuple
tup4 = (1,"mayank",True,2.3,[1,2,3])
# nested tuple
tup5 = ((1,2),(3,4),(5,6))
# tuple constructor 
tup6 = tuple("hello") # only valid for ieterable item

## Create Tuple With One Item

* To create a tuple with only one item, you have to add a comma after the        item, otherwise Python will not recognize it as a tuple.

In [11]:
t = (1)
type(t)

int

In [12]:
t = (1,)
type(t)

tuple

## Access Tuple Items

* same as list and string

* Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called

In [13]:
t = (1,2,3,4,5,6)
t[0] = 100 # error shows

TypeError: 'tuple' object does not support item assignment

* You can convert the tuple into a list,change the list, and convert the list back into a tuple

In [15]:
t = (1,2,3,4,5,6,7)
s = list(t)
s[0] = 100
t = tuple(s)
print(t)

(100, 2, 3, 4, 5, 6, 7)

## Add Items

* tuples are immutable, they do not have a built-in append() method, but there are other ways to add items to a tuple.

In [18]:
#   Convert into a list
t = (1,2,3,4,5,6,7,8,9)
s = list(t)
s.append(10)
t = tuple(s)
print(t)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [19]:
# if you want to remove item
t = (1,2,3,4,5,6,7,8,9)
s = list(t)
s.remove(9)
t = tuple(s)
print(t)

(1, 2, 3, 4, 5, 6, 7, 8)

* you can delete the tuple completely

In [20]:
t = (1,2,3,4,5,6,7,8,9)
del t
print(t)

NameError: name 't' is not defined

## Unpacking a Tuple

* When we create a tuple, we normally assign values to it. This is called       "packing" a tuple
* But, in Python, we are also allowed to extract the values back into variables. This is called "unpacking":

In [21]:
fruits = ("apple", "banana", "cherry")
(green, yellow, red) = fruits
print(green)
print(yellow)
print(red)

apple
banana
cherry

* Note: The number of variables must match the number of values in the tuple, if not, you must use an asterisk to collect the remaining values as a list.

### Using Asterisk*

* If the number of variables is less than the number of values, you can add an to the variable name and the values will be assigned to the variable as a list

In [22]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
(green, yellow, *red) = fruits
print(green)
print(yellow)
print(red)
print(type(red))

apple
banana
['cherry', 'strawberry', 'raspberry']
<class 'list'>

* If the asterisk is added to another variable name than the last, Python will assign values to the variable until the number of values left matches the number of variables left.

In [23]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")
(green, *tropic, red) = fruits
print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

## functions

* you can use max( ) , min( ) , sum( ) , sorted( ) , len( ) , count( ) , index( ) function in tuple same as list

### Join Two Tuples

In [27]:
# To join two or more tuples you can use the + operator
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)
tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [28]:
# If you want to multiply the content of a tuple a given number of times, you can use the * operator
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2
print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

### Loop Through a Tuple

In [1]:
# Iterate through the items and print the values
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [2]:
# Loop Through the Index Numbers
thistuple = ("apple", "banana", "cherry")
for x in range(0,len(thistuple)) :
  print(thistuple[x])

apple
banana
cherry